<div class="row">
  <div class="col-auto">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row mt-4">
  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your DontFundMe Projects:</h3>
      <div class="col">
        <div class="row" style="flex-wrap: nowrap">
          <h3>Start a new DontFundMe!</h3>
          <div class="col-4">
            <button type="submit" class="btn btn-primary create">DontFundMe</button>
          </div>
        </div>  
      </div>
    {{#each projects as |project|}}
    <div class="row mb-2 projects">
      <div class="col-8">
        <h2>
          <a href="/projects/{{project.id}}">{{project.title}}</a>
        </h2>
      <div class="col-8">
        <p>{{project.description}}</p>
        <p><span>Raised {{donationTotal}} / ${{project.fund_needed}}</span></p>
        <p>Created on {{format_date project.created_at}}</p>        
      </div>
    </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-primary" data-id="{{project.id}}">EDIT</button>
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
      {{else}}
      <div class="col">
        <div class="row" style="flex-wrap: nowrap">
          <h3>You don't have a project yet. Start a DontFundMe!</h3>
          <div class="col-4">
            <button type="submit" class="btn btn-primary create">DontFundMe</button>
          </div>
        </div>  
      </div>
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
<script src="./js/signin.js"></script>
<script src="./js/signup.js"></script>