<div class="columns">
  <div class="column">
    <h1>{{user.name}} Dashboard</h1>
  </div>
</div>
<div class="columns" style="flex-direction: column">
  {{#if projects.length}}
  <div class="column project-list">
    <h3>Your DontFundMe Projects:</h3>
      <div class="columns">
        <div class="column" style="flex-wrap: nowrap">
          <h3>Start a new DontFundMe!</h3>
          <div class="column">
            <button type="click" class="button is-primary create">Create a DontFundMe!</button>
          </div>
        </div>  
      </div>
    {{#each projects as |project|}}
    <div class="columns projects">
      <div class="column">
        <h2>
          <a href="/projects/{{project.id}}">{{project.title}}</a>
        </h2>
      <div class="column">
        <p>{{project.description}}</p>
        <p><span>Raised {{donationTotal}} / ${{project.fund_needed}}</span></p>
        {{!-- <p>Created on {{format_date project.created_at}}</p>         --}}
      </div>
    </div>
      <div class="column">
        <button class="button is-primary" data-id="{{project.id}}">EDIT</button>
        <button class="button is-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
      {{else}}
      <div class="columns">
        <div class="column" style="flex-wrap: nowrap">
          <h3>You don't have a project yet. Start a DontFundMe!</h3>
          <div class="column">
            <button type="submit" class="button is-primary create">Create a DontFundMe!</button>
          </div>
        </div>  
      </div>
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
