<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <h3>Goal:</h3>
    <span>Raised $0 / {{format_amount fund_needed}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Donate</button>
  </p>
</div>
