<div class="columns">
  <div class="column">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
      <h3>Goal:</h3>
      <span>Raised {{donationTotal}} / {{fund_needed}}</span>
    </p>    
  <div class="columns is-centered">
    <div class="column is-half donate-form-group">
        <label for="donation">Make a donation:</label>
        <div class="box">
          <input class="input form-input" type="number" id="donation-amount" name="donation-amount" placeholder="($)"/>
          <button class="button is-primary donate-button">Donate</button>
        </div>
    </div>    
  </div>  

</div>
