<div class="columns">
  <div class="column">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Created by {{name}} on {{format_date created_at}}</p>
    <p>
    <h3>Goal:</h3>
    <span>Raised ${{donation_total}} / ${{fund_needed}}</span>
    </p>
    <div class="ldBar label-center progress-bar" data-value={{progress_bar donation_total fund_needed}} data-preset="bubble">
    </div>
  </div>
  
  <div class="columns is-centered">
    <div class="column is-half donate-form-group">
      <label for="donation">Make a donation:</label>
      <div class="box">
        <input class="input form-input" type="number" id="donation-amount" name="donation-amount" placeholder="($)" />
        <button class="button is-primary donate-button">Donate</button>
      </div>
    </div>
  </div>

</div>