<div class="text-center">
  <h2>{{project.title}}</h2>
  <p>{{project.description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <h3>Goal:</h3>
    <span>Raised {{donationTotal}} / {{fund_needed}}</span>
  </p>
  <p>
    <div class="donate-form-group">
        <label for="donation">Make a donation:</label>
        <input class="form-input" type="number" id="donation-amount" name="donation-amount" placeholder="How much do you want to donate ($)" />
        <button class="btn btn-primary donate-button">Donate</button>
      </div>
    
  </p>
</div>
